/*-- GOOGLE FONTS --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*-- VARIABLE CSS --*/
:root {
  --first-color: hsl(209, 100%, 50%);
  --text-color2: hsl(0, 0%, 7%);
}

/*-- BASE --*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
}

/*-- NAV BAR --*/
.navbar-brand:hover {
  color: var(--first-color);
}

/*-- NAB BAR CAROUSEL --*/
.carousel-item {
  width: 100%;
}

.carousel-image-container {
  max-height: 750px;
  overflow: hidden;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-fluid {
  padding: 0;
}

/*-- SCROLL TO TOP BUTTON --*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--first-color);
  color: #000;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.scroll-to-top:hover {
  background-color: #c9c2c2;
}

.scroll-to-top .bi-chevron-bar-up {
  display: block;
  margin: -8px -8px;
}

.scroll-to-top i {
  font-size: 20px;
}

/* QUICK LINKS */
#quick-links {
  margin-bottom: 0;
}

.quick-links p {
  font: 5px;
}

/*-- ABOUT SECTION --*/
.container-animation {
  height: 100px;
  overflow: hidden;
}

#typing-animation {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--first-color);
  margin-bottom: 20px;
}

/*-- TESTIMONIAL SECTION --*/
.stars {
  color: gold;
}

/*-- CHART SECTION --*/
.chart-page .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#narcotic-chart .container {
  margin-top: 50px;
}

#narcotic-chart table {
  font-size: small;
}

#other-narcotics .container {
  margin-top: 50px;
}

#other-narcotics table {
  font-size: small;
}

#result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#narcotic-values table {
  font-size: 0.7rem;
}

#narcotic-values th,
#narcotic-values td {
  text-align: left;
}

/*-- CHART MODAL --*/
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/*-- MOBILE RESPONSIVENESS --*/
@media (min-width: 300px) and (max-width: 425px) {
  #quick-links {
    font-size: 10px !important;
    /* Adjust the font size as needed */
  }
}

@media (min-width: 300px) and (max-width: 768px) {

  /* Adjust modal dialog width */
  .modal-dialog {
    max-width: 95%;
    /* Adjust the percentage as needed */
  }

  /* Adjust modal content padding */
  .modal-content {
    padding: 10px;
    /* Adjust the padding as needed */
  }

  /* Adjust modal body font size */
  .modal-body {
    font-size: 10px;
    /* Adjust the font size as needed */
  }

  /* Adjust modal table font size */
  .modal-body table {
    font-size: 8px;
    /* Adjust the font size as needed */
  }

  .table thead th,
  .table tbody td {
    font-size: 10px;
    /* Adjust the font size for smaller screens */
  }

  .text-box {
    display: flex;
    flex-direction: column;
  }

  .text-box input[type="text"],
  .text-box input[type="time"] {
    margin-bottom: 8px;
  }
}